- content_for(:title) { 'Submission Detail' }

.row
  .twelve.columns
    %h1 Thank You for Submitting a Property
    %p
      Communities United For Action Vacant Property Watch will alert the
      responsible authorities and contact you within 7 days.
    %p In the meantime, here are some helpful contacts
.row
  .six.columns.property
    %h2
      %span Reported Property
    %ul
      %li
        %h4= submission.street_address
      %li
        %h5
          %span Reported Owner:
          = submission.reported_owner
      %li
        %h5
          %span Area:
          = submission.city_name
  .six.columns
    %h2
      %span Resource Contacts
    - resources.each do |resource|
      .panel
        - if resource.department_name
          %h3= resource.department_name
        - if resource.name
          %p= resource.name
        - if resource.contact_name
          %p= resource.contact_name
        - if resource.phone
          %p= resource.phone
.row
  .five.columns.centered
    %a.new-property.button{:href => new_submission_path}
      %h2 Submit Another Property

