.header.row
  %a{href: root_path}
    %img.logo{:src => "/assets/logo.png"}/
  %img.cufa{:src => "/assets/cufa_logo.png"}/

.content
  .row
    .twelve.columns
      %h1 Thank You for Submitting a Property
      %p Communities United For Action Vacant Property Watch will alert the responsible authorities and contact you within 7 days.
      %p In the meantime, here are some helpful contacts
  .row
    .four.columns.property
      %h2
        %span Reported Property
      %ul
        %li
          %h4= submission.street_address
        %li
          %h5
            %span Reported Owner:
            = submission.reported_owner
        %li
          %h5
            %span Area:
            = submission.city_name
    .four.columns.offset-by-one.end
      %h2
        %span Resource Contacts
      - resources.each do |resource|
        %ul
          %li
            %h5= resource.name
          %li
            %h5= resource.contact_name
          %li
            %h4= resource.department_name
          %li
            %h4= resource.phone
  .row
    .five.columns
      %a.button{:href => new_submission_path}
        %h2 Submit Another Property

.footer.row
  .twelve.columns.hide-for-small
    %a{:href => "#"}
      %img.fb{:src => "/assets/f_logo.png"}/
    %a{:href => "#"}
      %h3 Visit CUFA for more information →
  .twelve.columns.hide-for-medium.hide-for-large
    %a{:href => "#"}
      %h3 Visit CUFA for more information →
    %a{:href => "#"}
      %img.mobile-fb{:src => "/assets/f_logo.png"}/
      Like CUFA on Facebook
