!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = content_for(:head)
    %title= content_for?(:title) ? yield(:title) : "Vacant Property Watch"
    = stylesheet_link_tag "style"
    = csrf_meta_tags
  %body
    #main
      .header.row
        .twelve.columns.hide-for-small
          %a{href: root_path }
            %img.logo{:src => "/assets/logo.png"}/
          %h1
            = content_for?(:title) ? content_for(:title) : "Have a property you'd like to report?"
        .six.columns.show-for-small
          %img.mobile-logo{:src => "/assets/logo.png"}/
          %h3.mobile Have a property you'd like to report?
      .content.row
        = yield
      #footer-push
    #footer.home-footer
      .footer.row
        .two.columns
          %img{:src => "/assets/cufa_logo.png"}/
        .five.columns
          %span
            %h2 What is CUFA?
            %p
              Communities United for Action is a city-wide, multi-issue community
              organization, which brings together organizations and communities
              across Cincinnati. Since 1980, CUFA has brought together people of
              multiple cultural and ethnic backgrounds and different income levels so
              we can support each other in building our own communities and work
              together on common issues, which affect all our neighborhoods.
        .five.columns
          %a{:href => "http://www.cufacincy.org/"}
            %h3
              %span Visit Our Site to Learn More →
          %a{:href => "https://www.facebook.com/pages/Communities-United-For-Action/76160428960"}
            %img.fb{:src => "/assets/f_logo.png"}/
    = javascript_include_tag "application"
    = content_for(:javascript)
